- questions_count = @game.state.keys.count
- @game.state.each do |key, value|
  %div{ style: "height: 30px; width: #{ 100.0/questions_count }%; margin: 0; display: inline-block; background-color: #{ value[:success].present? ? ( value[:success] == 'true' ? 'RGBA(0, 204, 0, 0.5)' : 'RGBA(255, 0, 0, 0.5)') : 'lightgray' }" }