=provide(:title, 'Home')
.text-center
  %h2 Welcome to the Easy KROK web portal.
  %p In future this can be awesome web application. Now we in development. Thanks for visit.


- @categories.each do |category|
  %hr
  .row
    .col-md-2
      %h4
        %span.label.label-primary
          = category.title
    .col-md-10
      %br
      - category.profiles.each do |profile|
        %br
        = link_to ask_category_profile_path(category, profile) do
          %i.glyphicon.glyphicon-book
          = profile.title
      %br
      %br