=provide(:title, 'Home')
.text-center
  %h2 Welcome to the Easy KROK web portal.
  %p In future this can be awesome web application. Now we in development. Thanks for visit.


- @categories.each do |category|
  %hr
  .row
    .col-md-12
      %br
      = link_to ask_category_path(category) do
        %i.glyphicon.glyphicon-book
        = category.title
      %br
      %br